header,
footer {
    background-color: black;
    color: darkgoldenrod;
    padding: 20px;
    text-align: center;
}

aside {
    padding-top: 10px;
    font-weight: bold;
}

.title {
    color: darkred;
}